<footer class="bg-gray-800 text-white py-8 mt-auto" >
    <div class="container mx-auto px-12">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
            <div>
                <h3 class="text-xl font-semibold mb-4">Smart Laundry</h3>
                <p>Solusi laundry pintar untuk pakaian bersih dan wangi</p>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">Hubungi Kami</h3>
                <p>Jl. Laundry Pintar No. 123</p>
                <p>Kota Bersih, Indonesia</p>
                <p>Telp: (021) 1234-5678</p>
                <p>Email: info@smartlaundry.com</p>
            </div>
            <div>
                <h3 class="text-xl font-semibold mb-4">Jam Operasional</h3>
                <p>Senin - Jumat: 07.00 - 21.00</p>
                <p>Sabtu - Minggu: 08.00 - 20.00</p>
            </div>
        </div>
        <div class="mt-8 text-center">
            <p>&copy; 2024 Smart Laundry. All rights reserved.</p>
        </div>
    </div>
</footer>
<script src="/node_modules/flowbite/dist/flowbite.min.js"></script>

